.payment_method_cwtpfw > ul{
	margin:15px 0 0;
	padding:0 0 0 15px;
}

#cwtpfw_iframe{
	margin:0 0 10px;
	border:solid 1px rgba(34, 36, 38, .15);
	padding:.578571em 1em;
	border-radius:6px;
}

label[for="cwtpfw_remember"]{
	font-size:12px;
	cursor:pointer;
}

label[for="cwtpfw_remember"] > input{
	display:none;
}

label[for="cwtpfw_remember"] > input+span{
	position:relative;
	padding-left:22px;
}

label[for="cwtpfw_remember"] > input+span > svg{
	width:18px;
	height:18px;
	position:absolute;
	top:-1px;
	left:0;
}

label[for="cwtpfw_remember"] > input+span circle, 
label[for="cwtpfw_remember"] > input+span polyline{
	stroke-width:3;
	fill:none;
}

label[for="cwtpfw_remember"] > input+span circle{
	stroke:#999;
}

label[for="cwtpfw_remember"] > input:checked+span circle, 
label[for="cwtpfw_remember"] > input:checked+span polyline{
	stroke:#3A3;
}

#cwtpfw_error > ul.woocommerce-error{
	margin:10px 0;
}

#cwtpfw_instalment > label{
	display:flex;
	margin-top:10px;
	align-items:center;
	height:50px;
}

#cwtpfw_instalment span{
	display:block;
	padding-left:10px;
	flex:1;
}

#cwtpfw_instalment select:not([multiple]){
	border:solid 1px #999;
	border-radius:0;
	background-image:url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E%0A);
	background-repeat:no-repeat;
	background-position:100% 50%;
	background-size:inherit;
	-webkit-appearance:none;
	-moz-appearance:none;
	padding:0 5px;
	flex:2;
	height:28px;
	position:relative;
	margin:0;
}

.tpfield{
	height:40px;
	width:100%;
	max-width:400px;
	border:1px solid #CCC;
	margin:5px 0;
	padding:5px 15px;
	border-radius:6px;
	box-sizing:border-box;
}

#cwtpfw_card-holder-info > fieldset{
	display:flex;
	justify-content:start;
	align-items:center;
	flex-wrap:wrap;
}

#cwtpfw_card-holder-info label[for]{
	flex-basis:90px;
	line-height:100%;
}

#cwtpfw_card-holder-info input[type="text"], 
#cwtpfw_card-holder-info input[type="email"]{
	width:300px;
	flex-basis:300px;
	background-color:#FFF;
	border:solid 1px rgba(0, 0, 0, 0.2);
	font-size:.85rem;
}

#cwtpfw_card-holder-info .required input{
	border:solid 1px red;
	color:red;
}